
@page "/home"

<MudElement />
<div style="margin-top: 60px; background-color: white;">
    <MudCarousel
                 Style="height:500px"
                 ShowArrows="@arrows"
                 ShowBullets="@bullets"
                 EnableSwipeGesture="@enableSwipeGesture"
                 AutoCycle="@autocycle"
                 TData="object"
                 ObjectFit="@ImageFit"
                 Class="mud-width-full rounded-lg ma-4"
                 BulletsColor="Color.Primary">
            
        <MudCarouselItem Transition="transition">
            <div class="d-flex justify-content-center align-items-center" style="height: 80%;">
                <MudImage Src="Images/rusticStudio.jpg"
                          Alt="Colorful Rustic Industrail Studio"
                          Elevation="5" />
                </div>

        </MudCarouselItem>

        <MudCarouselItem Transition="transition">
            <div class="d-flex justify-content-center align-items-center" style="height: 80%;">
                <MudImage Src="/images/rusticStudio2.jpg" />

            </div>
        </MudCarouselItem>
        <MudCarouselItem Transition="transition">
            <div class="d-flex justify-content-center align-items-center" style="height: 80%;">
                <MudImage Src="/images/rusticStudio3.jpg" />

                <MudIcon Class="mx-auto my-auto " Size="@Size.Medium" Color="Color.Primary" />
            </div>
        </MudCarouselItem>
    </MudCarousel>
    <div>
        <h2 style="margin-top: 20px; text-align: center;"> Behold the beautiful dream home of our Llama's'. </h2>
        <h4 style="text-align:center ">A studio dance between whimsy and a modern industry ascetic .</h4>
    </div>
</div>

@code {
    ObjectFit ImageFit = ObjectFit.Fill;

    void SetImageFit(ObjectFit value)
    {
        ImageFit = value;
    }

    private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;
}
